@theme {
  --color-brand-primary: var(--brand-primary);
  --brand-secondary: var(--brand-secondary);
  --bg-color: var(--bg-color);

  --text-color: var(--text-color);
  --text-secondary-color: var(--text-secondary-color);
}
