#questions {
  margin: 64px;
}

.questionCard {
  padding: 30px;
  background-color: #641226;

  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 10px;

  & p {
    color: #f1f1f1;
    padding: 8px;
  }
}
